# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

PlatformIO/.pio
PlatformIO/.vscode/.browse.c_cpp.db*
PlatformIO/.vscode/c_cpp_properties.json
PlatformIO/.vscode/launch.json
PlatformIO/.vscode/ipch